@model List<FileBucket.Models.package>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<td><a class="btn btn-primary" href="/Package/CreatePackage">Create Package</a></td>
<a href="/ControlPanel/Index" class="btn btn-primary">Home</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>##</th>
        <th>##</th>
    </tr>
    @foreach(var data in Model)
    {
    <tr>
        <td>@data.id</td>
        <td>@data.name</td>
        <td>@(((float)data.size / 1048576).ToString("0.00")) MB</td>
        <td>@data.price $</td>
        <td><a class="btn btn-primary" href="/Package/EditPackage?id=@(data.id)">Edit</a></td>
        @if (data.id != 1)
        {
            <td><a class="btn btn-danger" href="/Package/Delete?id=@(data.id)">Delete</a></td>
        }
    </tr>
    }
</table>