@model List<FileBucket.Models.package>

@{
    ViewBag.Title = "store";
}

<h2>Store</h2>
<td><a class="btn btn-primary" href="/Bucket/Index?parent=@ViewBag.root">Go to Bucket</a></td>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>##</th>
        <th>##</th>
    </tr>
    @foreach (var data in Model)
    {
    <tr>
        <td>@data.id</td>
        <td>@data.name</td>
        <td>@(((float)data.size / 1048576).ToString("0.00")) MB</td>
        <td>@data.price $</td>

        @if (data.id != ViewBag.packageId)
        {
            <td><a class="btn btn-danger" href="/Package/Subscribe?id=@(data.id)">Subscribe</a></td>
        }
        else
        {
            <td style="color:forestgreen">Subscribed</td>
        }
    </tr>
    }
</table>